
<html>
    <head>
        <link rel="stylesheet" href="/styles.css">
    </head>
<body>
    <%- include('header') %>
<h1>Course Dashboard</h1>
<div class="container">
  <div>
    <h2>
        Total Courses:
    </h2>
    <h3>
        <%= totalcourses %>
    </h3>
  </div>
  <div>
    <h2>
        Total Enrollments: 
    </h2>
    <h3><%= totalenrollment %></h3>

  </div>
  <div>
    <h2>
        Average Enrollments 
    </h2>
    <h3>
        <%= averageenrollments %>
    </h3>
  </div>  
  <div>
    <h2>
        Highest Enrollments 
    </h2>
    <h3>
        <%= highestenrollments %>
    </h3>
  </div>
  <div>
    <h2>
        Lowest Enrollments 
    </h2>
    <h3>
        <%= lowestenrollments %>
    </h3>
  </div>
</div>

</body>
</html>